
@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&family=Indie+Flower&family=Quicksand:wght@300&display=swap');
body {
 background-color:rgb(12, 10, 10);
 font-family: 'Amatic SC', cursive; 
  
  font-size: 41px;
}
p {
 
  border: 20px solid rgb(129, 123, 123);
  padding: 20px;
 
  margin: 20px;
  

}
h1{
  color: rgb(36, 158, 117);
  font-size: 50px ;
  font-family:'Amatic SC';
}
h2{
  color: rgb(182, 151, 151);
}
 img:hover{  
  height:300px;
  width:200px;
  transform: scale(1.05);
  transition: all ease ;
  border-radius: 15px;
  box-shadow: 0 0 5px rgb(136, 219, 140);
}

 .shake {
   background-color: rgb(209, 100, 27);
   color: black;
}
.shake2{
  background-color: chocolate;
  color: black;
}